In [3]:
import pandas as pd
import seaborn as sns

In [4]:
#importing the data
madrid_listing_1 = pd.read_csv('madrid_listing_Q1_24.csv')
madrid_listing_2 = pd.read_csv('rome_listing_Q4_23.csv')
madrid_listing_3 = pd.read_csv('rome_listing_Q3_23.csv')
madrid_listing_4 = pd.read_csv('rome_listing_Q2_23.csv')

In [ ]:
#checking the data
madrid_listing_1.info()

In [ ]:
madrid_listing_2.info()

In [ ]:
madrid_listing_3.info()

In [ ]:
madrid_listing_4.info()

In [ ]:
#checking for missing values
madrid_listing_1.isnull().sum()

In [ ]:
madrid_listing_2.isnull().sum()

In [ ]:
madrid_listing_3.isnull().sum()

In [ ]:
madrid_listing_4.isnull().sum()

In [13]:
#adding a column for the quarter
madrid_listing_1['quarter'] = 'Q1_2024'
madrid_listing_2['quarter'] = 'Q4_2023'
madrid_listing_3['quarter'] = 'Q3_2023'
madrid_listing_4['quarter'] = 'Q2_2023'

In [18]:
#concatenating the data
madrid_df = pd.concat([madrid_listing_1, madrid_listing_2, madrid_listing_3, madrid_listing_4 ],ignore_index=True, axis=0)

In [ ]:
madrid_df.head(10)

In [22]:
#removing unnecessary columns
columns_to_remove = ['last_review',
                   'number_of_reviews_ltm',
                   'license',
                   'neighbourhood_group']
                    #host name
madrid_df.drop(columns=columns_to_remove, inplace=True)

In [ ]:
madrid_df

In [ ]:
madrid_df.isnull().sum()

In [25]:
#fill missing price values with mean
madrid_df['price'] = madrid_df['price'].fillna(madrid_df['price'].mean())

In [ ]:
madrid_df.isnull().sum()

In [27]:
madrid_df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,quarter
0,21853,Bright and airy room,83531,Abdel,Cármenes,40.403810,-3.741300,Private room,31.0,4,33,0.29,2,233,Q1_2024
1,204570,Lovely 110m2 home - Best location!,1004721,Alex,Cortes,40.415200,-3.696680,Entire home/apt,180.0,6,103,0.68,1,10,Q1_2024
2,24805,Gran Via Studio Madrid,346366726,Alvaro,Universidad,40.421830,-3.705290,Entire home/apt,92.0,5,35,0.31,1,91,Q1_2024
3,205199,Tafari Gran Via,1008659,Nuria,Universidad,40.421160,-3.703840,Entire home/apt,65.0,7,333,2.18,4,334,Q1_2024
4,209373,Attic in the Heart of Madrid-WIFI,1031664,José,Embajadores,40.411260,-3.703470,Private room,32.0,1,77,0.52,1,174,Q1_2024
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109646,907665329364448150,Rental unit in Rome · ★New · 2 bedrooms · 4 be...,494485,Massimo,XII Monte Verde,41.858597,12.439723,Entire home/apt,112.0,30,0,NaN,25,365,Q2_2023
109647,907740873805877631,Rental unit in Rome · ★New · 2 bedrooms · 3 be...,255338453,Laura,I Centro Storico,41.894868,12.491906,Entire home/apt,512.0,1,0,NaN,2,144,Q2_2023
109648,907795429693803226,Rental unit in Rome · ★New · 1 bedroom · 1 bed...,465355743,Lorenzo,XIV Monte Mario,41.911356,12.444160,Entire home/apt,200.0,4,0,NaN,2,349,Q2_2023
109649,907797510485153442,Rental unit in Rome · ★New · 2 bedrooms · 3 be...,507258639,Evgeniia,I Centro Storico,41.898956,12.501748,Entire home/apt,128.0,1,0,NaN,2,307,Q2_2023
109650,907814739994769462,Rental unit in Rome · ★New · 3 bedrooms · 3 be...,518536799,Yulia,I Centro Storico,41.902406,12.494048,Entire home/apt,376.0,4,0,NaN,1,343,Q2_2023